
$fallback-bg: none;
$fallback-font: 'Ubuntu', sans-serif;
$fallback-text-color: #000;
$fallback-links-color: #333;
$fallback-boxes-bg-color: #fff;

.fallback {
  background: $fallback-bg;
  box-sizing: border-box;
  color: $fallback-text-color;
  display: none;
  font-family: $fallback-font;
  font-size: 12px;
  left: 0;
  line-height: 1.75;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  }

  .horizon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .wrapper {
    display: inline-block;
    padding: 5%;
    text-align: left;
  }

  .message {
    background-color: $fallback-boxes-bg-color;
    display: block;
    margin-bottom: 20px;
    padding: 20px;

    .text {
      .title {
        font-size: 125%;
        font-weight: bold;
      }

      p {
        font-family: $fallback-font;
      }

      a,
      a:link,
      a:visited {
        color: $fallback-links-color;
        font-weight: bold;
      }
    }

    &.icon {
      svg {
        float: left;
        height: 40px;
        margin-left: 5px;
        width: 40px;
      }

      .text {
        margin-left: 65px;
      }
    }

    &.highlighted {
      p {
        font-weight: bold;
      }
    }
  }

  .video {
    height: 0;
    padding-bottom: 56.25%;   // 16:9
    position: relative;

    iframe,
    object,
    embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.enable-fallback,
.show-fallback,
.showing-fallback,
.fallbacking {
  body {
    overflow: visible;
  }

  .content {
    display: none;
  }

  .info {
    display: none;

    > * {
      display: none;
    }
  }

  .fallback {
    display: table;
  }
}
